<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/style.css" rel="stylesheet"/>
    <title>Buffalo Spotlight</title>
</head>
<body>
<nav class="site-header sticky-top py-1 bg-light">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block lead" href="/bison/new">Add Buffalo</a>
    </div>
</nav>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="container marketing ">
            <!-- Three columns of text below the carousel -->
            <p class="display-2">Buffalo Spotlight</p>
            <div class="row mt-5">
                <div class="col">
                    <img class="" src="/images/buffaloIcon1.png" alt="Buffalo" width="140" height="140">
                    <h1 class="mt-4"><%= bison.name %></h1>
                    <p class="lead"><%= bison.details %></p>
                    <div class="mt-4">
                        <a href="/bison/edit/<%= bison.id %>" class="btn btn-warning ml-3">Edit</a>
                        <a href="/bison/destroy/<%= bison.id %>" class="btn btn-danger ml-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>